body{
    text-align: center;
      background: linear-gradient(pink 0% , purple 100%); 
        background-repeat: no-repeat;
    color: aliceblue;
}
img{  
 
     width: 100px;
    border-radius: 40%;
    
}
#bio{
text-align: center;
    
}
h1{
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-family: 'Lobster', cursive;;      
}
.menu{
    list-style: none;
    font-family:  'Lobster', cursive;
    top: 10px;
    right: 200px;
    cursor: pointer;
    color: black;
    float: left;

    
}
li{
    display: inline;
    white-space: normal;
    font-size: 20px;
    font-family:  'Lobster', cursive;
    padding:5px;} 
.line{
    height: 6px;
    background-color: black;    

    width:100px;
    margin: auto;
}
p{
    max-width: 450px;
    text-align: center;
    padding-left: 450px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
html{
    scroll-behavior: smooth;
}
#para{
    padding: 50px;
    text-align: center;
}
.link:hover{
    color: crimson;
}
a{
font-style: none;  
}